body {
  background-color: #ffffff;
}

#headernav {
  float: right;
}

#headernav a {
  color: #838383;
  margin-left: 10px;
  margin-right: 10px;
}

#logo_copyright {
  margin-top: 21px;
  margin-left: 470px;
  float: left;
}

#copyright {
  padding-left: 30px;
  padding-top: 21px;
  float: left;
}

#copyrightday6 {
  padding-top: 21px;
}

.buttonClass {
  margin-top: 71px;
  margin-left: 25px;
  margin-right: 25px;
  display: inline-block;
  width: 160px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: #004098;
}

.buttonClass div {
  margin-top: 30px;
}

.promotionTitle {
  font-size: 25px;
  font-weight: 800;
  padding-top: 41px;
  text-align: center;
}

.averageTitle {
  font-size: 25px;
  font-weight: 800;
  padding-top: 61px;
  text-align: center;
}

.avgName {
  padding-top: 13px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

.avgPriceText {
  font-size: 10px;
  text-align: center;
}

.avgPriceNumber {
  color: #f5a200;
  font-size: 25px;
  font-weight: 700;
}

.avgPeople {
  padding-top: 13px;
  color: #a4a4a4;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
}

.placeText {
  padding-top: 23px;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #a8a8a8;
  vertical-align: auto;
}
